.nav {
    grid-area: nav;
    background-color: blueviolet;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}
.item a.activeLink {
    color: red;
}

.item .friends {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orange;
    float: left;
    padding:5px;
    margin-top: 5px;
}
