
.dialogs {
display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    background: blue;
    border: 2px solid yellowgreen;
}
.dialogItems {
    padding: 10px;
}
.dialog a {
    color: #fff;
}
.dialogs a.active {
    color: greenyellow;
}

.messages {
    padding: 10px;
}
.messages{
color: #fff;
}
.photoItems img {
    width: 50px;
    padding-left: 15px;
}